@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.homeBg {
  @apply bg-white md:bg-home bg-cover bg-no-repeat;
}

.hoverTranslateY {
  @apply md:hover:-translate-y-2 duration-300 transition-all;
}

.hoverTranslateX {
  @apply md:hover:translate-x-2 duration-300 transition-all;
}

.card_div {
  height: 250px;
  background-position: center;
  background-size: 220%;
  background-repeat: no-repeat;
  transition: background-size 0.1s ease;
}
.card_div:hover {
  background-size: 250%;
}

.card_div_mobile {
  height: 250px;
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
}
